.container{
    background-color:lightgrey ;
}

.content__img-picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 30px 20px;
}

.button{
    background-color: lime;
    margin: 5px 0px 0px 10px;
    height: 40px;
    width: 70px;
    border-radius: 25%;
    color: white;
}
