.nav{
    display: flex;
    justify-content: space-around;
    margin:10px 0px;
    border-bottom: 7.5px inset #F2F2F2;
    &__container{
        display: flex;
        justify-content: space-around;
    }
    &__container-item{
        margin: 15px;
    }
    &__container-logo{
        width: 70px;
        height: 70px;
    }
    &__container-btn{
        border-radius: 50% 50% 50% 50%;
        background-color: white;
        color:green;
        border: 1px solid green;
        margin-top: 5px;
    }
    &__container-sign{
        color:green;
    }
    .brand{
        margin-top: 12px;
    }
}
